/*Depoimentos*/
.titulo-dep {
    color: var(--laranja-escuro);
    font-size: 40px;
    margin-left: 40px;
    margin-top: 150px;
}

.coments {
    font-family: 'Be Vietnam Pro';
    width: 45%;
    margin-left: 40px;
}

.usuario {
    width: 50px;
}

.coment-irrigacao {
    background-color: var(--branco);
    border-radius: 10px;
    padding: 8px;
}

.coment-analise {
    background-color: var(--branco);
    border-radius: 10px;
    padding: 8px;
}

.coment-monitoramento {
    background-color: var(--branco);
    border-radius: 10px;
    padding: 8px;
}

.titulo-coment {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 10px;
    font-size: 22px;
}

.text {
    margin-top: 5px;
    padding-left: 25px;
}