.centro-body {
    height: calc(145vh - 225px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-index {
    text-align: center;
    font-size: 105px;
    color: var(--branco);
}