/*Serviços*/
.body-servicos {
    background-color: var(--branco);
    font-family: 'Bebas Neue';
    height: 70vh;
}

.servicos {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: calc(115vh - 225px);
    justify-content: space-around;
    margin-top: 120px;
}

.serv1,
.serv2,
.serv3 {
    width: 28%;
    height: 90%;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}

.p-servicos {
    font-family: 'Be Vietnam Pro';
    text-align: center;
    font-size: 15px;
    text-shadow:
        -2px -2px 0px black,
        2px -2px 0px black,
        -2px 2px 0px black,
        2px 2px 0px black;
}

.serv1 {
    background-image: url('../assets/img/irrigacao.png');
    background-position: center center;
    background-size: 100% 100%;
    justify-content: space-around;
}

.serv2 {
    background-image: url('../assets/img/analise-solo.png');
    background-position: center center;
    background-size: 100% 100%;
}

.serv3 {
    background-image: url('../assets/img/monitoramento.png');
    background-position: center center;
    background-size: 100% 100%;
}

.serv2 h1,
.serv2 p,
.serv1 h1,
.serv1 p,
.serv3 h1,
.serv3 p {
    flex: 1;
}

.serv1 h1,
.serv2 h1,
.serv3 h1 {
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
    font-family: 'Bebas Neue';
    font-size: 40px;
}